.swiper {
    width: 100%;
}

.swiper-button-next,.swiper-button-prev {
    color:rgb(162 28 175);
}

.swiper-button-next:hover,.swiper-button-prev:hover {
    color:rgb(232 121 249);
}

.swiper-pagination-bullet-active{
    background: rgb(162 28 175);;
}

.test[aria-selected="true"]{
    color: rgb(162 28 175);
    border-color: rgb(162 28 175);
}
.test[aria-selected="true"]:hover{
    color: rgb(162 28 175);
    border-color: rgb(162 28 175);
}
